.text-primary {
    color: var(--primary) !important;
}

.text-center{
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}