:root {
    --margins: 0 10%;
    --margins-mobile: 0 5%;
}

.container {
    margin: var(--margins);
}

.full-home-height-container {
    min-height: calc(100vh - 55px - 30px);
}

.full-height-container {
    min-height: calc(100vh - 55px - 15px - 30px);
}

@media only screen and (max-width: 600px) {
    .container {
        margin: var(--margins-mobile);
    }
}