.header {
  padding-top: 15px;
}

.header h1 {
  margin: 0;
}

.searchBarContainer {
  position: relative;
  padding: 20px 0px;
  box-shadow: 0px 2px 2px var(--box-shadow-color);
  border-bottom: solid 1px var(--border-color);
  z-index: 99;
}

.searchBarContainer select {
  height: 40px;
  margin-right: 2px;
  padding-left: 5px;
  border: solid 2px var(--border-color);
  border-radius: 5px;
}

.searchBarContainer input {
  width: 450px;
  max-width: 100%;
  height: 40px;
  padding-left: 10px;
  border: solid 2px var(--border-color);
  border-radius: 5px;
}

.searchBarContainer input:focus {
  box-shadow: 0px 0px 4px 1px var(--box-shadow-color);
  outline: 1px solid transparent;
}

.cardsContainerWrapper {
  height: calc(100vh - 55px - 78px - 17px);
  overflow-y: auto;
  padding: 0 10%;
}

.cardsContainerWrapper::-webkit-scrollbar {
  width: 12px;
}

.cardsContainerWrapper::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

.cardsContainerWrapper::-webkit-scrollbar-thumb {
  background-color: #0069b6;
  border: 2px solid transparent;
  border-radius: 9px;
  /* height: 87px; */
  background-clip: content-box;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 25px 0;
}

.card {
  /* min-height: 350px; */
  border-radius: var(--border-radius);
  box-shadow: 0px 0px var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  transition: 0.2s box-shadow ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-hover-color);
  /* cursor: pointer; */
}

.cardHeader {
  min-height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--text-light-color);
}

.cardContent {
  height: calc(100% - 50px);
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImage {
  width: 110px;
  height: 110px;
  margin: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light);
  border: solid 5px var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

.cardImage img{
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.cardTitle {
  padding: 10px 0;
  text-align: center;
  color: var(--text-grey-color);
}

.cardTitle b {
  color: var(--text-color);
  font-size: 1.2rem;
}

.cardBox {
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-size: 0.8rem;
  background-color: var(--bg-default);
  border-radius: var(--border-radius);
  align-items: center;
}

.cardBox div {
  text-align: center;
  word-wrap: break-word;
  /* white-space: nowrap; */
}

.cardSocialShare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSocialShare a:not(:last-child) {
  margin-right: 5px;
}

.cardSocialShare img {
  filter: drop-shadow(1px 1px var(--box-shadow-blur) var(--box-shadow-color));
}

.cardButtonsContainer {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardButtonsContainer a:last-child {
  margin-left: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searchBarContainer select {
    margin-bottom: 5px;
  }

  .cardsContainerWrapper {
    padding: 0 5%;
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*  */
@media only screen and (min-width: 1366px) {
  .cardsContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* ***************** IUCN Red List categories ***************** */
/* Extinct */
.EX {
  background-color: var(--EX);
}
/* Extinct in the Wild */
.EW {
  background-color: var(--EW);
}
/* Regionally Extinct */
.RE {
  background-color: var(--RE);
}
/* Critically Endangered */
.CR {
  background-color: var(--CR);
}
/* Endangered */
.EN {
  background-color: var(--EN);
}
/* Vulnerable */
.VU {
  background-color: var(--VU);
}
/* Conservation Dependent */
.CD {
  background-color: var(--CD);
}
/* Near threatened */
.NT {
  background-color: var(--NT);
}
/* Least Concern */
.LC {
  background-color: var(--LC);
}
/* Data Deficient */
.DD {
  color: var(--text-color);
  background-color: var(--DD);
}
/* Not Applicable */
.NA {
  color: var(--text-color);
  background-color: var(--NA);
}
/* Not Evaluated */
.NE {
  color: var(--text-color);
  background-color: var(--NE);
  border-bottom: solid 1px var(--border-color);
}
.NONE {
  color: var(--text-color);
  background-color: var(--white);
  border-bottom: solid 1px var(--border-color);
}