.header {
  padding: 2rem 0;
  padding-top: 50px;
  line-height: 0.5;
}

.titleLogo {
  font-family: var(--logo-font);
  font-size: 30px;
}

.welcomeCard {
  margin: auto;
  margin-top: 50px;
  max-width: 450px;
  padding: 70px 5%;
  border-radius: var(--border-radius);
  border: solid 5px var(--white);
  background-color: var(--bg-default);
  box-shadow: 2px 2px var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

.buttonsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.buttonsContainer a:last-child {
  margin-left: 15px;
  z-index: 20;
}

.exploringPersonImage{
  width: 239px;
  height: 228px;
  background: url("/images/exploring-person.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5px;
  right: 15px;
  z-index: 1;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .welcomeCard {
    max-width: 90%;
  }
  .buttonsContainer {
    flex-direction: column;
  }
  .buttonsContainer a:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .exploringPersonImage{
    display: none;
  }
}
