.header{
  padding: 2rem 0;
  padding-top: 50px;
  line-height: .5;
}

.titleLogo{
  font-family: var(--logo-font);
  font-size: 30px;
}

.welcomeCard {
  margin: auto;
  margin-top: 50px;
  max-width: 450px;
  padding: 70px 5%;
  border-radius: var(--border-radius);
  border: solid 5px var(--white);
  background-color: var(--bg-default);
  box-shadow: 2px 2px var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

.buttonsContainer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}